.notifications-center [aria-label*="appears to be corrupt"] .notification-list-item-message span {
  display: none;
}
.notifications-center [aria-label*="appears to be corrupt"] .codicon.codicon-notifications-configure {
  display: none;
}
.notifications-center [aria-label*="appears to be corrupt"] .notification-list-item-message::before{
  content: "[RTL Text Documents] Close all VScode windows and reopen for checksum reparation to take effect!";
}

.__rtl-lines {
  unicode-bidi: plaintext !important;
}

.__rtl-lines > div.view-lines > div.view-line {
  unicode-bidi: embed !important;
  width: calc(100% - 17px);
}

.__rtl-lines > div.view-overlays > div {
  unicode-bidi: embed !important;
  width: calc(100% - 17px);
}

.__rtl-lines > div.view-overlays > div > svg {
  visibility: hidden;
}

.__rtl-lines > div.view-lines > div > span {
  unicode-bidi: embed;
  display: inline-block !important;
  width: 100% !important;
  text-align: right !important;
  direction: rtl;
}

.__rtl-lines > div.view-lines > div > span span {
  unicode-bidi: embed;
}

.__rtl-lines-normal > div.view-lines > div > span {
  unicode-bidi: plaintext;
  text-align: left !important;
  direction: ltr;
}

.__rtl-lines-normal > div.view-lines > div > span span {
  unicode-bidi: plaintext;
}

.__rtl-lines-normal > div.view-overlays > div {
  width: 100%;
}

#__rtl-text-measurer {
  font-family: Consolas, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  white-space: nowrap;
  visibility: hidden;
  position: absolute;
}
